  <side-menus>
  <!-- Center content -->
  <pane side-menu-content>
  <div class="bar bar-header bar-calm">
    <button ng-click="toggleMenu()" class="button">
      <i class="icon ion-navicon-round"></i>
    </button>
    <h1 class="title">RedditBrowser</h1>
  </div>

  <div class="content padded has-header">
    <list>
    <item ng-repeat="post in reddit_posts" ng-click="selectPost(post)">
    <h2>{{ post.title }}</h2>
    </item>

    
    </list> 
  </div>


  </pane>

  <!-- Left menu -->
  <side-menu side="left">
  <list ng-if="reddit_logged_in">
    <item>
    logged in
    </item>
  </list>

  <list ng-if="!reddit_logged_in">
    <item ng-click="navigateLogIn()" >
      log in
    </item>
    <item ng-click="navigateBrowse()" >
      browse
    </list>

  </side-menu>

  </side-menus>
