<div class="bar bar-header bar-calm">
  <h1 class="title">Reddit Browser</h1>
</div>
<div class="content padding has-header">
  <h1>Welcome to mah reddit app!</h1>
  <h2>Browse a subreddit</h2>
  <form>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">browse /r/</span>
        <input type="text" ng-model="search_reddit" placeholder="pics">
      </label>  
    </div>
    <div class="padding">
      <button ng-click="search()" class="button button-block button-primary" >
        Browse
      </button> 
    </div>
  </form>
  <h2>My favz</h2>
    <ul>
      <li><a href="#/r/javascript">Javascript</a></li>
      <li><a href="#/r/ruby">Ruby</a></li>
      <li><a href="#/r/programming">Programming</a></li>
    </ul>

</div>
