<div ng-hide="reddit_loaded">
  loading...
</div>
<div ng-show="reddit_loaded">
  <!-- Center content -->
  <div class="bar bar-header bar-calm">
    <button ng-click="toggleMenu()" class="button">
      <i class="icon ion-navicon-round"></i>
    </button>
    <h1 class="title">RedditBrowser</h1>
  </div>

  <div class="content padded has-header">
    <list>
    <item ng-repeat="post in reddit_posts" ng-click="navigatePost(post)">
    <h2>{{ post.title }}</h2>
    </item>
    </list> 
  </div>
</div>
