<div ng-hide="post_loaded">
  loading...
</div>

<div ng-show="post_loaded"> 

  <div class="bar bar-header bar-calm">
    <button ng-click="goHome()" class="button">
      <i class="icon ion-home"></i>
    </button>
    <h1 class="title">
      {{ post.title }}
    </h1>
    <button ng-click="viewPost()" class="button">
      View
    </button>
  </div>

  <content has-header="true" padding="true" scroll="true">
    <div class="post">
      <div class="post-header"> 
        <h1 ng-click="viewPost()">{{ post.title }}</h1>
        <p class="details"> 
        Posted by {{ post.author }} on {{ post.date_short }}.
        <i class="icon ion-arrow-up-b"></i> 
        {{ post.ups }} 
        <i class="icon ion-arrow-down-b"></i>
        {{ post.downs }}
        </p>
      </div>
      <div class="post-body" ng-bind-html-unsafe="postHtml(post)">
      </div>
    </div>

    <div class="post-comments">
      <div class="post-comments-header">
        <h4>Comments</h4>
      </div>
      <div class="post-comments-body">
        <div ng-repeat="comment in post_comments" class="card">
          <div class="item item-text-wrap" ng-bind-html-unsafe="commentHtml(comment)" >
          </div>
          <div class="item item-divider">
            Posted by {{ comment.author }} 
            ( 
            <span class="comment-up">
              <i class="icon ion-arrow-up-b"></i>
              {{ comment.ups }}
            </span>
            /
            <span class="comment-down">
              {{ comment.downs }}
              <i class="icon ion-arrow-down-b"></i>
            </span>
            )
          </div>
        </div>
      </div>
    </div>
  </content>
</div>
