/* line 1, ../sass/reddit.scss */
.comment {
  background: #fafafa;
  border: 1px solid #f0f0f0;
  padding: .25em;
  border-radius: .25em;
  margin-top: .5em;
}
/* line 7, ../sass/reddit.scss */
.comment p {
  margin: 0;
  margin-bottom: .5em;
}
/* line 11, ../sass/reddit.scss */
.comment.comment-reply {
  background: #fff;
  border: 1px solid #f0f0f0;
  margin-top: .5em;
  margin-left: .5em;
  padding: .25em;
}
/* line 17, ../sass/reddit.scss */
.comment.comment-reply .comment-footer {
  color: #333;
}
/* line 22, ../sass/reddit.scss */
.comment .comment-footer {
  font-weight: bolder;
}
